.superb-progress-bar .progress-bar {
    background-color: #198754
}


.attractive-progress-bar .progress-bar {
    background-color: #A6CF4F
}


.basic-progress-bar .progress-bar {
    background-color: #FFC107
}

.caution-progress-bar .progress-bar {
    background-color: $orange
}

.fragile-progress-bar .progress-bar {
    background-color: #DC3545;
}