.header_text{
    font-size: $header-font;
    font-family: $title-font;
}

.title_text {
    font-size: $large-font;
    font-family: $title-font;
    &--small {
        font-size: $medium-font;
    }
    &--hero {
        position: absolute;
        z-index: 1;
        margin: 10%;
        color: $off-white;
    }
    &--modal {
        font-size: 1.35rem;
    }
}

.hero_text_alternate {
    font-size: $large-font;
    font-family: $title-font;
}

.paragraph_text {
    font-size: $medium-font;
    font-family: $content-font;
    &--small {
        font-size: $small-font;
    }
    &--rating {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

@media (max-width: $breakpoint--lg) {
    .title_text--hero {
        font-size: 1.4rem;
    }

}

@media (max-width: $breakpoint--md) {
    .title_text {
        display: none;
    }
}

@media (min-width: $breakpoint--md) {
    .hero_text_alternate {
        display: none;
    }
}

@media (max-width: 570px) {
    .title_text--hero {
        font-size: 0.9rem;
    }

    .title_text--small {
        font-size: 1rem;
    }
}
