@font-face {
    font-family: "Playfair Display";
    src: url('../assets/fonts/PlayfairDisplay-Regular.ttf')format("truetype");
}

@font-face {
    font-family: "Playfair Display Medium";
    src: url('../assets/fonts/PlayfairDisplay-Medium.ttf')format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url('../assets/fonts/Raleway-Medium.ttf')format("truetype");
}



// Colours

$orange: #ec8c19;
$grey: #747474;
$black: #000;
$white: #fff;

// Fonts

$content-font: 'Raleway';
$title-font: 'Playfair Display', serif;

// Font Sizing

$header-font: 4.5rem;
$large-font: 3rem;
$medium-font: 2rem;
$small-font: 1rem;


// Breakpoints

$breakpoint--xs: 320px; 
$breakpoint--sm: 501px;
$breakpoint--md: 768px;
$breakpoint--lg: 1068px;