// Colours

$orange: #ec8c19;
$grey: #747474;
$black: #000;
$white: #fff;

// Fonts

// $title-font:
// $content-font:

// Font Sizing

// $header-font:
// $large-font: 
// $medium-font:
// $small-font:


// Breakpoints

$breakpoint--xs: 320px; 
$breakpoint--sm: 501px;
$breakpoint--md: 768px;
$breakpoint--lg: 1068px;